header {
    background-color: coral;
    padding: 20px;
    text-align: center;
}

#intro {
    text-align: center;
    padding: 30px;
}

.profile-pic {
    max-width: 100px;
    border-radius: 10px;
}

#hobbies {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}

.hobby {
    text-align: center;
    max-width: 100px;
}

.hobby img {
    max-width: 100px;
    border-radius: 10px;
}

footer {
    background-color: lightcolar;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
